<form method="POST">
  <div class="mb-3">
    <label
      for="username"
      class="form-label"
      >Tên tài khoản</label
    >
    <input
      type="text"
      class="form-control"
      id="username"
      name="username"
      placeholder="Nhập tên tài khoản"
      required
    />
  </div>
  <div class="mb-3">
    <label
      for="fullname"
      class="form-label"
      >Họ và tên</label
    >
    <input
      type="text"
      class="form-control"
      id="fullname"
      name="fullname"
      placeholder="Nhập họ và tên"
      required
    />
  </div>
  <div class="mb-3">
    <label
      for="address"
      class="form-label"
      >Địa chỉ</label
    >
    <input
      type="text"
      class="form-control"
      id="address"
      name="address"
      placeholder="Nhập địa chỉ"
      required
    />
  </div>

  <div
    class="d-grid gap-2 d-md-flex justify-content-md-end"
  >
    <button
      class="btn btn-primary me-md-2"
      type="submit"
    >
      Thêm
    </button>
  </div>
</form>
