<style>
  .login-form {
    max-width: 400px; /* Chiều rộng tối đa */
    margin-top: 50px; /* Thêm margin trên */
    margin-bottom: 50px; /* Thêm margin trên */
    margin-left: auto; /* Căn giữa */
    margin-right: auto; /* Căn giữa */
  }
</style>
<div class="container">
  <div class="login-form">
    <h4 class="text-uppercase text-primary">Đăng nhập hệ thống</h4>

    <form action="/login" method="POST">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          name="username"
          class="form-control"
          id="username"
          aria-describedby="emailHelp" />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          name="password"
          type="password"
          class="form-control"
          id="password" />
        <% if (messages) { %>
        <div id="emailHelp" class="form-text"><%= messages %></div>
        <% } %>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>
